.introduction-section {
  overflow: hidden;
  height: 100vh;
  user-select: none;
}

.black,
.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
}

.gradient {
  background: linear-gradient(0deg, #4a97ee, #053aad);
  z-index: 1;
}

.black {
  background: black;
  z-index: 2;
  animation: fadeOut 2s forwards;
  animation-delay: 700ms;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.sun {
  overflow-x: hidden;
  width: 110px;
  height: 110px;
  background-color: lemonchiffon;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  animation: moveSun 2s forwards;
  animation-delay: 700ms;
  box-shadow: 0 0 40px #ffee58;
  z-index: 2;
  filter: blur(14px);
}

@keyframes moveSun {
  0% {
    right: 0px;
    bottom: 0px;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    right: calc(100% - 150px);
    bottom: calc(100% - 150px);
  }
}

.moon {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 200px;
  top: 400px;
  z-index: 3;
  animation: moveMoon 3s forwards, rotateMoon 3s forwards,
    dissapearMoon 1s forwards;
  animation-delay: 500ms, 800ms, 700ms;
  transform: rotate(40deg);
}

@keyframes moveMoon {
  0% {
    left: 200px;
    top: 400px;
  }
  100% {
    left: calc(100% - 1000px);
    top: calc(100% - 1500px);
  }
}

@keyframes dissapearMoon {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotateMoon {
  0% {
    transform: rotate(40deg);
  }

  100% {
    transform: rotate(160deg);
  }
}

.star {
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  animation: twinkle 30ms infinite ease-in-out, removeStars 1s forwards;
  animation-delay: 0s, 700ms;
  z-index: 3;
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes removeStars {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.mountain-flag {
  width: 40vw;
  position: absolute;
  bottom: -100vw;
  right: 0;
  z-index: 4;
  filter: blur(1px);
  animation: showMountainFlag 1.3s forwards;
  animation-delay: 1.2s;
}

@keyframes showMountainFlag {
  0% {
    bottom: -100vw;
  }

  100% {
    bottom: 0;
  }
}

.clouds {
  position: absolute;
  height: 80vw;
  width: 100%;
  bottom: -100vw;
  z-index: 5;
  animation: showClouds 1.2s forwards;
  animation-delay: 1s;
}

@keyframes showClouds {
  0% {
    bottom: -100vw;
  }

  100% {
    bottom: -37vw;
  }
}

.welcome-text {
  width: 43vw;
  height: 13vw;
  padding: 1vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 6;
  left: 17vw;
  top: 5vw;
  font-size: 5vw;
  font-family: "Borel", cursive;
  text-shadow: 5px 5px #000000;

  color: white;
  & div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    span {
      transform: translateX(-100%);
      opacity: 0;
      animation: slideInFromLeft 1200ms forwards;
    }

    .text-swiss {
      margin-top: 4vw;
      animation-delay: 2s;
    }

    .text-memories {
      margin-top: -5vw;
      margin-left: 8vw;
      animation-delay: 2.2s;
    }
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
