<div class="description-section">
  <img src="assets/img/snow-mountain.png" class="snow-mountain" alt="">
  <div class="description">
    <div class="title">
      <h1>Swiss Souvenirs - Timeless Memories</h1>
    </div>
    <div class="description1">
      <p>Welcome to Swiss Memories, where you can find great souvenirs from Switzerland. Our shop is a favorite place for tourists who want a special reminder of their trip.</p><br>
      <p>We have things that show the beauty and traditions of Switzerland. Each item is picked to make sure it reminds you of our wonderful country. If you want something to remember your trip by or a gift that shows Switzerland's charm, you'll find it here.</p>

    </div>
  </div>
  <div class="snow" *ngFor="let _ of snowflakes"></div>
</div>
