.description-section {
  height: 150vh;
  width: 100%;
  background-color: #c4ccdb;
}

.description {
  margin-top: 38vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  h1 {
    font-size: 4vw;
  }
}
