body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.black,
.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
}

.gradient {
  background: linear-gradient(0deg, #4a97ee, #053aad);
  z-index: 1;
}

.black {
  background: black;
  z-index: 2;
  animation: fadeOut 2s forwards;
  animation-delay: 700ms;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.sun {
  width: 110px;
  height: 110px;
  background-color: lemonchiffon;
  border-radius: 50%;
  position: absolute;
  right: -100px;
  bottom: -100px;
  animation: moveSun 2s forwards;
  animation-delay: 700ms;
  box-shadow: 0 0 40px #ffee58;
  z-index: 3;
  filter: blur(14px);
}

@keyframes moveSun {
  0% {
    right: -100px;
    bottom: -100px;
  }
  100% {
    right: calc(100% - 150px);
    bottom: calc(100% - 150px);
  }
}

.moon {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 200px;
  top: 400px;
  z-index: 3;
  animation: moveMoon 3s forwards, rotateMoon 3s forwards,
    dissapearMoon 1s forwards;
  animation-delay: 500ms, 800ms, 700ms;
  transform: rotate(40deg);
}

@keyframes moveMoon {
  0% {
    left: 200px;
    top: 400px;
  }
  100% {
    left: calc(100% - 1000px);
    top: calc(100% - 1500px);
  }
}

@keyframes dissapearMoon {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotateMoon {
  0% {
    transform: rotate(40deg);
  }

  100% {
    transform: rotate(160deg);
  }
}

.star {
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  animation: twinkle 30ms infinite ease-in-out, removeStars 1s forwards;
  animation-delay: 0s, 700ms;
  z-index: 3;
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes removeStars {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.mountain-flag {
  width: 1200px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 4;
  filter: blur(1px);
}

.clouds {
  position: absolute;
  height: 1400px;
  width: 100%;
  bottom: -235px;
  left: 0;
  z-index: 5;
}
