html,
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background: black;
  animation: changeBackground 2s forwards;
  animation-delay: 700ms;
}

@keyframes changeBackground {
  0% {
    background: black;
  }
  100% {
    background: skyblue;
  }
}

.sun {
  width: 100px;
  height: 100px;
  background-color: lemonchiffon;
  border-radius: 50%;
  position: absolute;
  right: -100px;
  bottom: -100px;
  animation: moveSun 2s forwards;
  animation-delay: 700ms;
  box-shadow: 0 0 40px #ffee58;
  filter: blur(14px);
}

@keyframes moveSun {
  0% {
    right: -100px;
    bottom: -100px;
  }
  100% {
    right: calc(100% - 150px);
    bottom: calc(100% - 150px);
  }
}

.moon {
  width: 80px;
  height: 80px;
  background-color: black;
  border-radius: 50%;
  box-shadow: 1rem 1rem 0 0 #ffffff;
  position: absolute;
  left: 200px;
  top: 400px;
  z-index: 1;
  animation: moveMoon 1s forwards, changeColorMoon 2s forwards;
  animation-delay: 500ms, 700ms;
}

@keyframes moveMoon {
  0% {
    left: 200px;
    top: 400px;
  }
  100% {
    left: calc(100% - 1500px);
    top: calc(100% - 1500px);
  }
}

@keyframes changeColorMoon {
  0% {
    background-color: rgb(0, 0, 0);
  }

  100% {
    background-color: skyblue;
  }
}

.star {
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  animation: twinkle 30ms infinite ease-in-out, removeStars 1s forwards;
  animation-delay: 0s, 700ms;
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes removeStars {
  0% {
    background-color: white;
  }

  100% {
    background-color: skyblue;
  }
}
